html, body {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    flex-grow: 1;
}

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #bbbbbb;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.screenshot {
    width: 45%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.screenshot:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.btn {
    display: block;
    background-color: #333333;
    color: #ffffff;
    padding: 14px 24px;
    margin: 12px auto;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
    font-weight: bold;
    width: 80%;
    max-width: 400px;
}

.btn:hover {
    background-color: #444444;
    transform: scale(1.05);
}

.donate-btn {
    background-color: #555555;
}

.donate-btn:hover {
    background-color: #666666;
}

/* Фиксированный прозрачный футер */
footer {
    
    color: #aaaaaa;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* 📱 Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    .container {
        
        width: 95%;
    }
    .btn {
        width: 40%; /* Кнопки теперь занимают всю ширину */
        max-width: none;
    }
    .image-container {
        flex-direction: column;
        align-items: center;
    }
    .screenshot {
        width: 100%; /* Изображения на всю ширину */
    }
}
